/* lock screen in place */
html,
body { height: 100%; margin: 0; }
body {
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    touch-action: none;
}

/* prevent selections */
html {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}

body {
  background: #27c;
  margin: 0;
  max-width: 800px;
  margin: auto;
}

canvas {
  width: 100%;
  /* image-rendering: pixelated; */
  box-sizing: border-box;
}

button {
  font-family: system-ui;
  background: #0af;
  border: none;
  width: 50%;
  height: 200px;
  cursor: pointer;
}